<!DOCTYPE html>
<html lang="en">
<head>
    <title>TA Allotment</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> --}}
    <link rel = "stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        <h1>TA Allotment System</h1>
        <a href="/ta">TA Preferences</a>
        <br>
        <hr>
        <br>
        <a href="/faculty">Faculty Preferences</a>
        <br>
        <hr>
        <br>
        <a href="/showdata">Show Database</a>
        <br>
        <hr>
        <br>
        <a href="/deletedata" onclick="return fun();">Drop Database</a>
        <script>
            function fun() {
                var warning = "All the data will be deleted";
                if (confirm(warning))  return true;
                return false;
            }
        </script>
        <br>
        <hr>
        <br>
        <a href="/deletecourse">Delete Course</a>
        <br>
        <hr>
        <br>
        <a href="/deleteta">Delete TA</a>
        <br>
        <br>
        <button class="btn" type="button">Show Result</button>
        {{!-- <br>
        <br>
        <button class="btn2" type="button">Show Data</button> --}}
    </div>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>
</html>